{% extends 'banking/base.html' %}

{% block title %}Liste des Comptes{% endblock %}

{% block content %}
<h2><i class="bi bi-wallet2"></i> Tous les Comptes</h2>

<div class="row mt-4">
    {% for compte in comptes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <strong>{{ compte.client.nom }} {{ compte.client.prenom }}</strong>
                </div>
                <div class="card-body">
                    <h6 class="card-title">{{ compte.type_compte }}</h6>
                    <p><strong>IBAN:</strong> {{ compte.iban }}</p>
                    <p><strong>Solde:</strong> <span class="badge bg-success">{{ compte.solde }} F CFA</span></p>
                    <p><strong>Date Ouverture:</strong> {{ compte.date_ouverture }}</p>
                    <a href="{% url 'dashboard' compte.id %}" class="btn btn-sm btn-info">
                        <i class="bi bi-eye"></i> Consulter
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
